/* Estilos generales */
.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7fc;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.forgot-password-container {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
}

.forgot-password-image {
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forgot-password-form {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 100%;
  max-width: 400px;
}

.form-title {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.form-description {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #AB0831;
  outline: none;
}

.button-container {
  text-align: center;
}

.submit-button {
  background-color: #AB0831;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-button:hover {
  background-color: #AB0831;
}

.auth-message {
  text-align: center;
  margin-top: 20px;
  color: #2ecc71; /* Color verde para mensajes de éxito */
}

.back-to-login {
  text-align: center;
  margin-top: 20px;
}

.login-link {
  color: #AB0831;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

/* Media Queries para Responsive Design */
@media (max-width: 768px) {
  .forgot-password-container {
    flex-direction: column;
  }

  .forgot-password-image {
    height: 200px;
  }

  .forgot-password-form {
    padding: 20px;
  }

  .form-title {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .form-title {
    font-size: 1.5rem;
  }

  .form-description {
    font-size: 0.9rem;
  }

  .input-group input {
    font-size: 0.9rem;
  }

  .submit-button {
    padding: 10px 20px;
  }
}