.auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaciado entre los enlaces */
    margin-top: 15px; /* Espaciado superior */
  }
  
  .forgot-password-link, .register-link {
    text-decoration: none; /* Quitar subrayado */
    color: #AB0831; /* Color de texto azul (como Facebook) */
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
  
  .forgot-password-link:hover, .register-link:hover {
    text-decoration: underline; /* Subrayado cuando se pasa el mouse */
  }
  
  button[type="submit"] {
    margin-top: 20px;
    background-color: #AB0831; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer; 
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }
  